@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFF5E4;
  --foreground: #854D27;
  --accent: #FF8551;
  --secondary: #E49B0F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C1810;
    --foreground: #FFD8A9;
    --accent: #FF8551;
    --secondary: #E49B0F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add these classes */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Add this new utility class */
.grid-cols-53 {
    grid-template-columns: repeat(53, minmax(0, 1fr));
}

.grid-rows-7 {
    grid-template-rows: repeat(7, minmax(0, 1fr));
}

/* Add these styles to your globals.css */
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: hsl(var(--primary)) !important;
}
